body{background-color: #87ECEE;}
h1{color: blue; font-size: xxx-large; text-align: center; text-decoration: underline;}
h2{color: #3E7FD2; font-size: xx-large; text-decoration: underline;}
.texto{font-size: x-large; text-align: justify;}
img{width: 15%; height: 200px}
